vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jul 2011 01:15:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Matthew-PC\\matthew
vti_modifiedby:SR|Matthew-PC\\matthew
vti_nexttolasttimemodified:TR|02 Jun 2011 01:52:39 -0000
vti_timecreated:TR|29 Jul 2011 01:15:11 -0000
vti_cacheddtm:TX|29 Jul 2011 01:15:11 -0000
vti_filesize:IR|611
vti_cachedlinkinfo:VX|S|background.jpg
vti_cachedsvcrellinks:VX|FSUS|html5/Chapter\\ 11/Slides/background.jpg
vti_backlinkinfo:VX|html5/Chapter\\ 11/Slides/ChinaSites.html
vti_syncofs_www.reboot-me.com\:21/www/prosetech:TW|05 Aug 2011 18:44:30 -0000
vti_syncwith_www.reboot-me.com\:21/www/prosetech:TX|29 Jul 2011 01:15:11 -0000
