
html,body{
    height: 100%;
}

body{
    font-family: Montserrat;
    margin: 0;
}


#bg{
    clip-path: polygon(100% 0, 100% 71%, 53% 100%, 0 100%, 0 0);
    background-color: rgb(12, 12, 228);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

body header a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-transform: uppercase;
}

main section#card{
    background: #fff;
    padding: 20px;
    margin: 1em auto;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(172, 165, 165, 0.5);
    width: 80%;
}

main section#card ul{
    list-style-type: none;
    margin: 10px;
}
main section#card ul li{
    margin-bottom: 10px;
}

main section#card ul li span{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #def;
    margin-right: 10px;
}

main section#card ul li strong{
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

main section#primary{
    color: #fff;
    padding: 15px;
    text-align: center;
}

main section#primary h1{
    font-size: 3em;
    margin-top:10px;
    text-transform: uppercase;
}
main section#primary p{
    font-size: 1.4em;
}

main section#primary a{
    color: #333;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:rgb(238, 238, 34);
    display: block;
    text-align: center;
    margin:50px auto 0 auto;
    padding: 10px;
    
}



@media screen and (min-width:875px){
    
    #bg{
        clip-path: polygon(0 0, 85% 0, 61% 100%, 0% 100%);
    }

    main{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        'primary card'
    }

    main section#primary{
        grid-area: primary;
        text-align: left;
        margin: 4em 0 0 4em;
    }
    main section#primary h1{
        width: 30%;
        font-size: 4em;
        line-height: 0.9em;
    }
    main section#card{
        grid-area: card;
        height: fit-content;
        align-self: center;
        margin: 1em;
    }


}