<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style_lp.css">
    <!---------------------------------------------------------------------- -->
</head>

<body>
   
    <header>
        <span id="intro">Welcome (-_-) {{user}}</span>
        <div>
            <form action="/auth/logout?_method=DELETE" method="post">
                <button type="submit" class="btn btn-warning center">logout</button>
            </form>
        </div>
    </header>


</body>

</html>