

.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
 
  @media (max-width:500px){
    .grid-container {
        grid-template-columns:1fr 1fr;
    }
  }