vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jul 2011 01:15:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Matthew-PC\\matthew
vti_modifiedby:SR|Matthew-PC\\matthew
vti_nexttolasttimemodified:TR|19 May 2011 14:44:24 -0000
vti_timecreated:TR|29 Jul 2011 01:15:11 -0000
vti_cacheddtm:TX|29 Jul 2011 01:15:11 -0000
vti_filesize:IR|1063
vti_cachedlinkinfo:VX|S|impact_label-webfont.eot S|impact_label-webfont.eot S|impact_label-webfont.woff S|impact_label-webfont.ttf S|impact_label-webfont.svg S|impact_label_reversed-webfont.eot S|impact_label_reversed-webfont.eot S|impact_label_reversed-webfont.woff S|impact_label_reversed-webfont.ttf S|impact_label_reversed-webfont.svg
vti_cachedsvcrellinks:VX|FSUS|html5/Chapter\\ 08/Fonts/impact_label-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/impact_label-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/impact_label-webfont.woff FSUS|html5/Chapter\\ 08/Fonts/impact_label-webfont.ttf FSUS|html5/Chapter\\ 08/Fonts/impact_label-webfont.svg FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.woff FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.ttf FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.svg
vti_backlinkinfo:VX|html5/Chapter\\ 08/Fonts/ApocalypsePage_Revised.html
vti_syncofs_www.reboot-me.com\:21/www/prosetech:TW|05 Aug 2011 18:44:05 -0000
vti_syncwith_www.reboot-me.com\:21/www/prosetech:TX|29 Jul 2011 01:15:11 -0000
