vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jul 2011 01:15:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Matthew-PC\\matthew
vti_modifiedby:SR|Matthew-PC\\matthew
vti_nexttolasttimemodified:TR|19 May 2011 14:17:07 -0000
vti_timecreated:TR|29 Jul 2011 01:15:11 -0000
vti_cacheddtm:TX|29 Jul 2011 01:15:11 -0000
vti_filesize:IR|524
vti_cachedlinkinfo:VX|S|Metrophobic-webfont.eot S|Metrophobic-webfont.eot S|Metrophobic-webfont.woff S|Metrophobic-webfont.ttf S|Metrophobic-webfont.svg
vti_cachedsvcrellinks:VX|FSUS|html5/Chapter\\ 08/Fonts/Metrophobic-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/Metrophobic-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/Metrophobic-webfont.woff FSUS|html5/Chapter\\ 08/Fonts/Metrophobic-webfont.ttf FSUS|html5/Chapter\\ 08/Fonts/Metrophobic-webfont.svg
vti_backlinkinfo:VX|html5/Chapter\\ 08/Fonts/ApocalypsePage_Revised.html
vti_syncofs_www.reboot-me.com\:21/www/prosetech:TW|05 Aug 2011 18:44:17 -0000
vti_syncwith_www.reboot-me.com\:21/www/prosetech:TX|29 Jul 2011 01:15:11 -0000
