vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jul 2011 01:15:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Matthew-PC\\matthew
vti_modifiedby:SR|Matthew-PC\\matthew
vti_nexttolasttimemodified:TR|19 May 2011 14:43:47 -0000
vti_timecreated:TR|29 Jul 2011 01:15:10 -0000
vti_cacheddtm:TX|29 Jul 2011 01:15:10 -0000
vti_filesize:IR|561
vti_cachedlinkinfo:VX|S|impact_label_reversed-webfont.eot S|impact_label_reversed-webfont.eot S|impact_label_reversed-webfont.woff S|impact_label_reversed-webfont.ttf S|impact_label_reversed-webfont.svg
vti_cachedsvcrellinks:VX|FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.woff FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.ttf FSUS|html5/Chapter\\ 08/Fonts/impact_label_reversed-webfont.svg
vti_backlinkinfo:VX|
vti_syncofs_www.reboot-me.com\:21/www/prosetech:TW|05 Aug 2011 18:44:18 -0000
vti_syncwith_www.reboot-me.com\:21/www/prosetech:TX|29 Jul 2011 01:15:10 -0000
