vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jul 2011 01:15:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Matthew-PC\\matthew
vti_modifiedby:SR|Matthew-PC\\matthew
vti_nexttolasttimemodified:TR|19 May 2011 14:21:34 -0000
vti_timecreated:TR|29 Jul 2011 01:15:10 -0000
vti_cacheddtm:TX|29 Jul 2011 01:15:10 -0000
vti_filesize:IR|547
vti_cachedlinkinfo:VX|S|zero_and_zero_is-webfont.eot S|zero_and_zero_is-webfont.eot S|zero_and_zero_is-webfont.woff S|zero_and_zero_is-webfont.ttf S|zero_and_zero_is-webfont.svg
vti_cachedsvcrellinks:VX|FSUS|html5/Chapter\\ 08/Fonts/zero_and_zero_is-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/zero_and_zero_is-webfont.eot FSUS|html5/Chapter\\ 08/Fonts/zero_and_zero_is-webfont.woff FSUS|html5/Chapter\\ 08/Fonts/zero_and_zero_is-webfont.ttf FSUS|html5/Chapter\\ 08/Fonts/zero_and_zero_is-webfont.svg
vti_backlinkinfo:VX|html5/Chapter\\ 08/Fonts/ApocalypsePage_Revised.html
vti_syncofs_www.reboot-me.com\:21/www/prosetech:TW|05 Aug 2011 18:44:23 -0000
vti_syncwith_www.reboot-me.com\:21/www/prosetech:TX|29 Jul 2011 01:15:10 -0000
